/* Button */
.btn_{
   padding: .300rem 1rem;
   border-radius: 1rem;
}
.btn-acc{
   color: white;
   background-color: black;
}
.btn-acq{
   background-color: #CD3D0F;
   color: white;
}
.btn_plus{
   background-color: #D9DADC;
   color: #1B80D3;
}
.btn_now{
   background-color: whitesmoke;
   color: black;
}

/* Header */

.header-top{
    background-color: black;
    padding: 1rem;
 }
 .logo-top{
    width: 110px;
 }
 
header{
   position: fixed;
   width: 100%;
   z-index: 10;
   max-height: 100px;
   height: 100px;
}
 .header-btm{
    background-color: white;
 }
 /* Hero */
 .jumbo{
   position: relative;
}
.jumbo-img{
   width: 100%;
   min-height: 50vh;
   object-position: center;
   object-fit: cover;
}

.info-jumbo{
   position: absolute;
   z-index: 1;
   left: 0;
   bottom: 0;
   right: 0;
   padding: 3rem 1rem;
}

.info-img{
   width: 200px;
   margin-bottom: 1rem;
}
.hero2{
   background-color: rgb(56, 56, 56);
}
.hero2 h6{
color: white;
margin-left: 7px;
}

/* game list */
.game{
   border-radius: 15px;
   padding: 0.5rem;
}

/* ps plus */
.ps-plus{
   background-color: rgb(186, 186, 186);
}
.ps-plus-img{
   width: 600px;
}
.ps-plus-log{
   width: 350px;
}
/* ps store */
.store-img{
   width: 400px;
}
/* ps now */
.ps-now{
   background-color: rgb(10, 10, 81);
}