/* Button */
.btn_{
    padding: .300rem 1rem;
    border-radius: 1rem;
 }
 .btn-acc{
    color: white;
    background-color: black;
 }

/* Header */
.header-top{
    background-color: black;
    padding: 1rem;
 }
 .logo-top{
    width: 110px;
 }
 .header-{
    background-color: white;
 }
 /* Hero */
 .jumbo{
   position: relative;
}
.jumbo-img{
   width: 100%;
   min-height: 50vh;
   object-position: center;
   object-fit: cover;
}

.info-jumbo{
   position: absolute;
   z-index: 1;
   left: 0;
   bottom: 0;
   right: 0;
   padding: 3rem 1rem;
}

.info-img{
   width: 200px;
   margin-bottom: 1rem;
}